*{
    margin: 0 ;
    padding:0 !important;
    max-width: 30000px !important;
}

.logoTxt{
    padding-right: 40% !important;
}

#card{
    padding: 28px !important;
}

#card2{
    padding: 28px !important;
}