*{
    margin: 0 ;
    padding:0 !important;
    max-width: 30000px !important;
}

.logoTxt{
    padding-right: 40% !important;
}

#card{
    padding: 28px !important;
}

#card2{
    padding: 28px !important;
}

.ButtonPagament{
    padding: 7px 18px 7px 18px !important;
    margin-top: 28px !important
}

#CaixaAcompanhamento{
    margin: 50px !important;
}
